@charset "utf-8";
@import url('../../../include/js/editor/css/smart_editor2_out.css');

#cms_calendar_article legend {position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;padding:0;}

#cms_calendar_article .inputTxt {height:25px; line-height:25px; padding:0 5px; border:1px solid #dbdbdb;width:150px;}
#cms_calendar_article input[type="file"].inputTxt {border:0px;}
#cms_calendar_article input[type="file"]::-ms-value {border:1px solid #dbdbdb;}
#cms_calendar_article input[type="file"]::-ms-browse{border:1px solid #dbdbdb;}
#cms_calendar_article textarea.inputTxt {width:500px;height:170px;}
#cms_calendar_article .wFull {width:500px;}

#cms_calendar_article .tbWriteA input[type="file"] {border:0px \0/IE9+10; background:none; padding:0px !important;}
#cms_calendar_article .tbWriteA ul li {margin-top:3px;}
#cms_calendar_article .tbWriteA ul li:FIRST-CHILD {margin-top:0px;}

#cms_calendar_article .tbWriteA select {border:1px solid #dbdbdb; padding:2px; height:27px; /*margin-right:4px;*/}
#cms_calendar_article .tbWriteA label {margin:0 5px 0 3px;}

#cms_calendar_article .tbWriteA ul.fileUL .fn_text_label {width:72px;}
#cms_calendar_article .tbWriteA dl.saved_file_nb, .tbWriteA dl.saved_file_nb dt, .tbWriteA dl.saved_file_nb dd {display:inline-block; vertical-align: top;}
#cms_calendar_article .tbWriteA dl.saved_file_nb dt:AFTER{content: ": ";}

/* multi file */
#cms_calendar_article ul.multiFileUL>li {position:relative;width:510px;}
#cms_calendar_article ul.multiFileUL>li>span {display: inline !important;}
#cms_calendar_article ul.multiFileUL input[type="file"].inputTxt {width:100% !important; min-width:150px; padding:0px;}
#cms_calendar_article ul.multiFileUL input.altTxt {width:100% !important; min-width:150px; padding:0px;}
#cms_calendar_article ul.multiFileUL select, #cms_calendar_article ul.multiFileUL .selectMultiFile {height:80px;width:100% !important; min-width:150px;}
#cms_calendar_article ul.multiFileUL .selectMultiFile { min-width:150px;display:inline-block;border:1px solid #dbdbdb; overflow: hidden; overflow-y: auto;}
#cms_calendar_article ul.multiFileUL .selectMultiFile>li {padding:0 3px;line-height:20px;}
#cms_calendar_article ul.multiFileUL .selectMultiFile>li>label {width:85%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#cms_calendar_article ul.multiFileUL .fn_text_label {position:absolute; color: #aaa;}
#cms_calendar_article ul.multiFileUL button {position:absolute;top:0px;right:-55px;width:50px; font-size:11px; font-weight:bold; color:#fff !important; line-height:26px; text-decoration:none !important; background:url(./images/bg_type_f.gif) repeat-x 0 0;}
#cms_calendar_article ul.multiFileUL ul.fn_btn_ud {display:inline-block; vertical-align: top;}
#cms_calendar_article ul.multiFileUL ul.fn_btn_ud .fn_btn_down {top:28px;}

/* single file */
#cms_calendar_article ul.singleFileUL>li {position:relative;width:510px;}
#cms_calendar_article ul.singleFileUL input[type="file"].inputTxt {width:100% !important; min-width:150px; padding:0px;}
#cms_calendar_article ul.singleFileUL input.altTxt {width:100% !important; min-width:150px; padding:0px;}
#cms_calendar_article ul.singleFileUL select {height:80px; width:500px;}
#cms_calendar_article ul.singleFileUL .fn_text_label {position:absolute; color: #aaa;}

/* Board Search */
/* 한줄 box */
#cms_calendar_article .tbSearch {margin:5px 0; text-align:center; border:1px solid #E0E0E0; background:#F5F5F5; padding:20px 0;}
#cms_calendar_article .tbSearch dl{display:inline;margin-right:5px;}
#cms_calendar_article .tbSearch dt{display:none;}
#cms_calendar_article .tbSearch dd{display:inline;}
#cms_calendar_article .tbSearch .select {min-width:82px; height:27px;}
#cms_calendar_article .tbSearch input[type="text"]{height:25px;padding:0 5px; border:1px solid #dbdbdb; line-height: 30px;}
#cms_calendar_article .tbSearch p {display:inline-block;}
#cms_calendar_article .tbSearch .btnSearch {width:70px; height:27px; padding:0px; font-size:13px; font-weight:bold; color:#ffffff !important; line-height:27px; text-decoration:none !important; border:0px; background:#6e6e6e; }
#cms_calendar_article .tbSearch .btnTotalList {width:70px; height:27px; padding:0px; font-size:13px; font-weight:bold; color:#ffffff !important; line-height:27px; text-decoration:none !important; border:0px; background:#006dba; }
#cms_calendar_article .tbSearch #key {width:250px; height:25px; padding:0 5px; border:1px solid #dbdbdb; line-height: 30px;}
#cms_calendar_article .tbSearch #keyField {min-width:74px;height:27px; /*margin-right:5px;*/ font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', '돋움', dotum, sans-serif; color:#535353; border:1px solid #dbdbdb;}
#cms_calendar_article .btnSearch03 {width:73px; height:27px; background: url("./images/btn_bo_search.gif") no-repeat 0 0; text-indent: -9999px; border:0px;}
#cms_calendar_article .btnSTotList {width:73px; height:30px; padding:0px; font-size:11px; font-weight:bold; color:#ffffff !important; line-height:28px; text-decoration:none !important; border:0px; background:#006dba; }
#cms_calendar_article .tbSearch.tbShowDt dt{display:inline-block; font-weight: bold;}

/* 여러줄 box */
#cms_calendar_article .tbMSearch {margin:5px 0; border:1px solid #E0E0E0; background:#F5F5F5;}
#cms_calendar_article .tbMSearch dl{margin:20px 50px 10px 50px;}
#cms_calendar_article .tbMSearch dt{display:inline-block; font-weight: bold; width:10%; margin-top:5px; text-align:right;}
#cms_calendar_article .tbMSearch dd{display:inline-block; width:35%; margin:5px 10px 0 10px;}
#cms_calendar_article .tbMSearch dd.lw{width:42%;}
#cms_calendar_article .tbMSearch dd.sw{width:28%;}
#cms_calendar_article .tbMSearch dd.full{display:inline-block; width:83%;}
#cms_calendar_article .tbMSearch p {margin:0px 50px 20px 50px; text-align: center;}
#cms_calendar_article .tbMSearch .btnSearch {width:140px; height:30px; padding:0px; font-size:13px; font-weight:bold; color:#ffffff !important; line-height:28px; text-decoration:none !important; border:0px; background:#6e6e6e; }
#cms_calendar_article .tbMSearch .btnTotalList {width:140px; height:30px; padding:0px; font-size:13px; font-weight:bold; color:#ffffff !important; line-height:28px; text-decoration:none !important; border:0px; background:#006dba; }
#cms_calendar_article .tbMSearch .select {min-width:100px; height:27px;}
#cms_calendar_article .tbMSearch input[type="text"]{height:25px;padding:0 5px; border:1px solid #dbdbdb; line-height:25px;}
#cms_calendar_article .tbMSearch #key {width:240px; height:25px; padding:0 5px; border:1px solid #dbdbdb; line-height: 30px;}
#cms_calendar_article .tbMSearch #keyField {min-width:120px;height:27px; /*margin-right:5px;*/ font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', '돋움', dotum, sans-serif; color:#535353; border:1px solid #dbdbdb;}

/* 한줄 라인 - button */
#cms_calendar_article .tbLSearch {display:inline-block; width:100%; border-bottom:1px solid #E0E0E0;}
#cms_calendar_article .tbLSearch .left {float:left; margin:5px 0;}
#cms_calendar_article .tbLSearch .right {float:right; margin:5px 0;}
#cms_calendar_article .tbLSearch .btnTW {padding:0; width:60px; font-size:12px; font-weight:bold; color:#ffffff !important; line-height:26px; text-align:center; text-decoration:none !important; border:0px; background:#006dba;}
#cms_calendar_article .tbLSearch .btnTD {padding:0; width:60px; font-size:12px; font-weight:bold; color:#ffffff !important; line-height:26px; text-align:center; text-decoration:none !important; border:0px; background:#006dba;}
#cms_calendar_article .tbLSearch .btnTDL {padding:0; width:60px; font-size:12px; font-weight:bold; color:#ffffff !important; line-height:26px; text-align:center; text-decoration:none !important; border:0px; background:#5d5d5d;}
#cms_calendar_article .tbLSearch .btnTFW {padding:0 10px; font-size:12px; font-weight:bold; color:#ffffff !important; line-height:26px; text-align:center; text-decoration:none !important; border:0px; background:#006dba;}
#cms_calendar_article .tbLSearch .btnTFD {padding:0 10px; font-size:12px; font-weight:bold; color:#ffffff !important; line-height:26px; text-align:center; text-decoration:none !important; border:0px; background:#006dba;}
#cms_calendar_article .tbLSearch .btnTFDL {padding:0 10px; font-size:12px; font-weight:bold; color:#ffffff !important; line-height:26px; text-align:center; text-decoration:none !important; border:0px; background:#5d5d5d;}

/* 탭 */
#cms_calendar_article .tabTypeC {overflow:hidden; min-height:42px; border-left:1px solid #cdcdcd; }
#cms_calendar_article .tabTypeC > li {float:left; width:auto; box-sizing:border-box;border-right:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; border-top:1px solid #cdcdcd;}
#cms_calendar_article .tabTypeC > li:first-child{border-left:none}
#cms_calendar_article .tabTypeC > li > a.bottom{border-left:1px solid #cdcdcd; border-top:none}
#cms_calendar_article .tabTypeC > li > a.bottom2{ border-top:none}
#cms_calendar_article .tabTypeC > li > a {display:block; height:41px; line-height:41px; text-align:center; background:#f8f8f8;padding:0 40px}
#cms_calendar_article .tabTypeC > li > a.on, #cms_calendar_article .tabTypeC > li > a:hover {color:#ffffff;background:#006dba;}

/* 목록 */
#cms_calendar_article .tbListA {width:100%; border-top:2px solid #6b6b6b; border-bottom:1px solid #6b6b6b; border-collapse:collapse; border-spacing:0;  table-layout:fixed; }
#cms_calendar_article .tbListA thead tr th {padding:13px 0 12px; font-size:14px; font-weight:bold; color:#3e3e3e; text-align:center; vertical-align:middle; border-bottom:1px solid #6b6b6b; background:#fbfbfb;}
#cms_calendar_article .tbListA tbody tr td {height:22px; padding:12px 5px 11px; color:#3e3e3e; vertical-align:middle; border-top:1px solid #e4e4e4;}
#cms_calendar_article .tbListA tbody tr:first-child td {border-top:0;}
#cms_calendar_article .tbListA>tbody.alignC>tr>td {text-align:center;}
#cms_calendar_article .tbListA tbody tr td.name {text-align:left;}
#cms_calendar_article .tbListA tbody tr td.issueState a, .tbListA tbody tr td.issueState span {width:83px; padding:0;}
#cms_calendar_article .tbListA tbody.pd10 tr td {padding:10px 5px;}
#cms_calendar_article .tbListA tbody tr td.tlt {text-align:left; padding-left:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#cms_calendar_article .tbListA tbody tr td.tlt a {width:98%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

#cms_calendar_article .tbListA.gallery .photo {display:inline-block;overflow:hidden;width:150px;/*height:130px;*/}
#cms_calendar_article .tbListA.gallery .photo img {transition:transform .3s; background:#ccc; max-width:150px;}
#cms_calendar_article .tbListA.gallery span.subject {position:relative;display:inline-block;margin-top:8px;line-height:1.5; text-align:left; width:180px;}
#cms_calendar_article .tbListA.gallery span.subject span {max-width:150px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}


#cms_calendar_article .tbListA .bllist {height:50px; padding:10px; text-align: center;}

/* 상세보기 */
#cms_calendar_article .tbViewA {width:100%; border-top:2px solid #6b6b6b; border-bottom:1px solid #6b6b6b; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
#cms_calendar_article .tbViewA thead tr th {font-size:14px; padding:13px 0; font-weight:bold; color:#3e3e3e; text-align:center; vertical-align:middle; border-bottom:1px solid #e4e4e4; background:#fbfbfb;}
#cms_calendar_article .tbViewA tbody tr th {height:22px; padding:9px 0; font-weight:bold; color:#3e3e3e; text-align:center; vertical-align:middle; border-top:1px solid #e4e4e4; background:#fff;}
#cms_calendar_article .tbViewA tbody tr td {height:22px; padding:9px 0; line-height:18px; vertical-align:middle; border-top:1px solid #e4e4e4; background:#fff;}
#cms_calendar_article .tbViewA .cont{padding:20px; line-height:20px;min-height:100px; vertical-align: top;}

#cms_calendar_article .tbViewA .fn_img{padding:20px;min-height:20px !important;}
#cms_calendar_article .tbViewA .fn_img>ul>li, #cms_calendar_article .tbViewB .fn_img>ul>li {margin:3px;}
#cms_calendar_article .tbViewA .fn_img img{max-width: 95%;}

/* 댓글(memo) */
#cms_calendar_article .fn_writeMemo textarea{width:95% !important;}

/* Q&A 질문글 목록 - 질문글 내용 */
#cms_calendar_article .tbListA.fn_qList > tbody > tr.fn_qCont > td {padding:0px;}
#cms_calendar_article .tbListA.fn_qList > tbody > tr.fn_qCont > td > table {border-top:1px solid #9b9b9b;border-bottom:1px solid #9b9b9b;}
#cms_calendar_article .tbListA.fn_qList > tbody > tr.fn_qCont > td > table > tbody > tr > th, .tbListA.fn_qList > tbody > tr.fn_qCont > td > table > tbody > tr > td {background: none; height:19px; padding:7px 5px;}

/* 글쓰기 */
#cms_calendar_article .tbWriteA {width:100%; border-top:2px solid #6b6b6b; border-bottom:1px solid #6b6b6b; border-collapse:collapse; border-spacing:0; table-layout:fixed; word-break:break-all;}
#cms_calendar_article .tbWriteA thead tr th {padding:10px 0px; font-weight:bold; color:#3e3e3e; text-align:center; vertical-align:middle; border-bottom:1px solid #6b6b6b; background:#fbfbfb;}
#cms_calendar_article .tbWriteA tbody tr th {/*height:27px;*/ padding:10px 10px 10px 0; line-height:27px; vertical-align:top; font-weight:bold; color:#3e3e3e; text-align:right; /*vertical-align:top;*/ border-top:1px solid #e4e4e4; background:#fbfbfb;}
#cms_calendar_article .tbWriteA tbody tr td {/*height:27px;*/ padding:10px 0; line-height:27px; vertical-align:top; border-top:1px solid #e4e4e4; background:#fbfbfb;}
#cms_calendar_article .tbWriteA tbody tr:first-child th, .tbWriteA tbody tr:first-child td {border-top:0;}

#cms_calendar_article .tbWriteA>tbody>tr>td>.tbListA>thead>tr>th{padding:5px 3px;height:20px;line-height:20px;text-align:center;}
#cms_calendar_article .tbWriteA>tbody>tr>td>.tbListA>tbody>tr>th, #cms_calendar_article .tbWriteA>tbody>tr>td>.tbListA>tbody>tr>td{padding:5px 3px;height:20px;line-height:20px;}
#cms_calendar_article .tbWriteA>tbody>tr>td>.tbListA>tbody.alignC>tr>td {text-align:center;}

#cms_calendar_article .tbWriteA .required:before {color: #f15a38; content:'* ';}

/* 이전글, 다음글 */
#cms_calendar_article .goArticle {width:100%;border:0;border-bottom:1px solid #6b6b6b; border-top:1px solid #6b6b6b; border-collapse:collapse;background:#fbfbfb;table-layout:fixed}
#cms_calendar_article .goArticle th {border-width:0 0 1px 0;text-align:right;color:#3e3e3e;font-size:13px;vertical-align:middle; font-weight:bold;}
#cms_calendar_article .goArticle td {padding:15px;border-width:0px 0px 1px 0;font-size:13px;}
#cms_calendar_article .goArticle .goPrev {border-bottom:1px solid #e4e4e4;}

/* 조회 수 높은글 */
#cms_calendar_article .N_thumb{float: left;left: 0;top: 0;z-index: 2;margin: 0 16px 0 0;position: relative;}
#cms_calendar_article .N_thumb img{border:1px solid #e5e5e5}
#cms_calendar_article .N_memo{display: inline-block; width:630px}
#cms_calendar_article .N_memo dt{font-size: 15px;font-weight: bold;color: #3e3e3e;}
#cms_calendar_article .N_memo dd{line-height:18px; padding-top: 10px; color: #747474; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-wrap:break-word; overflow: hidden;}

/* 페이징 */
#cms_calendar_article .paginate {margin-top:30px; text-align:center;}
#cms_calendar_article .paginate .prev {margin-right:1px;}
#cms_calendar_article .paginate .next {margin-left:1px;}
#cms_calendar_article .paginate span {}
#cms_calendar_article .paginate span a {display:inline-block;margin:0 2px; width:30px; height:30px; color:#666666; line-height:30px; text-align:center; text-decoration:none; background:url(./images/bg_paginate_off.gif) no-repeat 0 0;}
#cms_calendar_article .paginate span strong {display:inline-block;margin:0 2px; width:30px; height:30px; font-weight:normal; color:#ffffff; line-height:30px; text-align:center; background:url(./images/bg_paginate_on.gif) no-repeat 0 0;}

#cms_calendar_article .resultCount {float:right; margin-top:20px;}
#cms_calendar_article .resultCount strong{vertical-align:top; color:#F15A38;}

/* 달력 */
#cms_calendar_article .btnCal {display:inline-block; /*margin-left:3px; */border:0px; width:20px; height:18px; background: transparent url('./images/btn_cal.gif') no-repeat; text-indent:-9999px;vertical-align:middle;}

/* rss */
#cms_calendar_article .rss {float:left; color:#444; font-size:0.9em; background: url('./images/btn_rss.gif') no-repeat 0 0; text-indent: -9999px; width:92px; height:21px;}

/* 타이틀 */
#cms_calendar_article .titTypeC {padding-left:10px; font-size:14px; font-weight:bold; color:#3e3e3e; line-height:20px; background: url(./images/bul_type3.png) no-repeat 0 8px;}

/* 버튼 */
/* BUTTON */
#cms_calendar_article .btnTypeA {display:inline-block;vertical-align:middle;width:66px; height:30px; font-weight:bold; color:#ffffff !important; line-height:30px; text-align:center; text-decoration:none !important; border:0px; background:#006dba;}
#cms_calendar_article .btnTypeAL {display:inline-block;vertical-align:middle;width:140px; height:40px; font-weight:bold; color:#ffffff !important; line-height:40px; text-align:center; text-decoration:none !important; border:0px; background:#006dba;}
#cms_calendar_article .btnTypeB {display:inline-block;vertical-align:middle;width:66px; height:30px; font-weight:bold; color:#ffffff !important; line-height:30px; text-align:center; text-decoration:none !important; border:0px; background:#5d5d5d;}
#cms_calendar_article .btnTypeBL {display:inline-block;vertical-align:middle;width:140px; height:40px; font-weight:bold; color:#ffffff !important; line-height:40px; text-align:center; text-decoration:none !important; border:0px; background:#5d5d5d;}
#cms_calendar_article .btnTypeC {display:inline-block;vertical-align:middle;width:66px; height:30px; font-weight:bold; color:#fff !important; line-height:30px; text-align:center; text-decoration:none !important; background:#676767;}
#cms_calendar_article .btnTypeC span {display:block; height:37px; padding:0 20px; line-height:37px; background:url(images/button/bg_type_b.gif) no-repeat 0 0;}
#cms_calendar_article .btnTypeD {display:inline-block;vertical-align:middle;width:151px; height:30px; font-weight:bold; color:#3e3e3e !important; line-height:30px; text-align:center; text-decoration:none !important; border:0px; background:#fff;}
#cms_calendar_article .btnTypeD span {padding-right:15px; background:url(images/common/bul_arrow_blue.gif) no-repeat 100% 14px;}
#cms_calendar_article .btnTypeE {display:inline-block;vertical-align:middle;padding:0 9px 0 10px; font-size:11px; font-weight:bold; color:#fff !important; line-height:25px; text-decoration:none !important; background:url(images/button/bg_type_e.gif) repeat-x 0 0; border:0px;}
#cms_calendar_article .btnTypeF {display:inline-block;vertical-align:middle;padding:0 9px 0 10px; font-size:11px; font-weight:bold; color:#fff !important; line-height:25px; text-decoration:none !important; background:url(images/button/bg_type_f.gif) repeat-x 0 0; border:0px;}
#cms_calendar_article .btnTypeG {display:inline-block;vertical-align:middle;padding:0 9px 0 10px; font-size:11px; font-weight:bold; color:#fff !important; line-height:25px; text-decoration:none !important; background:url(images/button/bg_type_g.gif) repeat-x 0 0; border:0px;}
#cms_calendar_article .btnTypeH {display:inline-block;vertical-align:middle;padding:0 9px 0 10px; font-size:11px; font-weight:bold; color:#fff !important; line-height:25px; text-decoration:none !important; background:url(images/button/bg_type_h.gif) repeat-x 0 0; border:0px;}
#cms_calendar_article .btnTypeHL {display:inline-block;vertical-align:middle;height:30px; line-height:30px; padding:0 9px 0 10px; font-size:11px; font-weight:bold; color:#fff !important;  text-decoration:none !important; background:url(images/button/bg_type_h.gif) repeat 0 0; border:0px;}
#cms_calendar_article .btnTypeI {display:inline-block;vertical-align:middle;padding:0 9px 0 10px; font-size:11px; font-weight:bold; color:#fff !important; line-height:25px; text-decoration:none !important; background:url(images/button/bg_type_i.gif) repeat-x 0 0; border:0px;}
#cms_calendar_article .btnTypeJ {display:inline-block;vertical-align:middle;padding:0 9px 0 10px; font-size:11px; font-weight:bold; color:#fff !important; line-height:25px; text-decoration:none !important; background:url(images/button/bg_type_j.gif) repeat-x 0 0; border:0px;}
#cms_calendar_article .btnTypeK {display:inline-block;vertical-align:middle;width:121px; height:42px; padding-right:10px; font-weight:bold; color:#fff !important; line-height:42px; text-align:center; text-decoration:none !important; border-bottom:1px solid #005491; background:#006dba url(images/common/bul_arrow_white.gif) no-repeat 98px 17px;}
#cms_calendar_article .btnTypeL {display:inline-block;vertical-align:middle;width:131px; height:42px; font-weight:bold; color:#fff !important; line-height:42px; text-align:center; text-decoration:none !important; border-bottom:1px solid #696969; background:#808080;}
#cms_calendar_article .btnTypeM {display:inline-block;vertical-align:middle;padding:0 9px 0 10px; font-size:11px; font-weight:bold; color:#fff !important; line-height:25px; text-decoration:none !important; border:0px; background:#5d5d5d;}
#cms_calendar_article .btnTypeAM {display:inline-block;vertical-align:middle;padding:0 9px 0 10px; font-size:11px; font-weight:bold; color:#fff !important; line-height:25px; text-decoration:none !important; border:0px; background:#006dba;}
#cms_calendar_article .btnTypeAS {display:inline-block;vertical-align:middle;margin:1px 0; width:80px; height:25px; font-size:11px; font-weight:bold; color:#fff !important; line-height:25px; text-align:center; text-decoration:none !important; background:#006dba; border:0px;}

#cms_calendar_article .btnCenter {margin-top:20px; text-align:center;}
#cms_calendar_article .btnCenter a {margin-left:-1px;}
#cms_calendar_article .btnCenter a:first-child {margin-left:0;}
#cms_calendar_article .btnRight {margin-top:15px; text-align:right;}
#cms_calendar_article .listBtn {text-align:right; padding:10px 0 20px 0;}

/* margin */
#cms_calendar_article .mgt15 {margin-top:15px !important;}
#cms_calendar_article .mgt20 {margin-top:20px !important;}
#cms_calendar_article .mgt70 {margin-top:70px !important;}
#cms_calendar_article .mgb10 {margin-bottom:10px !important;}

#cms_calendar_article h4 {clear:both; line-height:32px; height:32px; margin-left:10px; font-weight:bold; font-size:15px; color:#333; 
	padding-left:25px; background: url(./images/bul_type3.png) no-repeat 10px 13px;}
	
	
#cms_calendar_article div.fn_inlineBlock, ul.fn_inlineBlock li, dl.fn_inlineBlock dt, dl.fn_inlineBlock dd{display:inline-block; line-height:20px;}
#cms_calendar_article dl.fn_inlineBlock dt {width:100px; font-weight: bold;}
#cms_calendar_article dl.fn_inlineBlock dd {width:500px;}


#cms_calendar_article ul.fn_mult>li{display:inline-block;}
#cms_calendar_article ul.fn_mult>li:BEFORE {content: ", ";}
#cms_calendar_article ul.fn_mult>li:first-child:BEFORE {content: "";}

/* 일정관리*/
#cms_calendar_article #calendar {width:700px; margin:10px auto;}
#cms_calendar_article #calendar .icon img { padding-left:4px;}
#cms_calendar_article #calendar .date {padding:10px; text-align:center; font-size: 1.5em; font-weight: bold;}
#cms_calendar_article #calendar .date img { vertical-align:bottom;padding:0 1px;}
#cms_calendar_article #calendar .date span { color:#fff; font-size:1.2em; font-weight:bold; padding:0 37px;}
#cms_calendar_article #calendar .cldTable {width:100%; border-top:1px solid #c8c8c8; border-left:1px solid #c8c8c8;}
#cms_calendar_article #calendar .cldTable th,
#cms_calendar_article #calendar .cldTable td { border-bottom:1px solid #c8c8c8; border-right:1px solid #c8c8c8}
#cms_calendar_article #calendar .cldTable th { padding:10px; background:#e6f0f7; font-weight:bold}
#cms_calendar_article #calendar .cldTable th.sun {color:#e20101}
#cms_calendar_article #calendar .cldTable th.sat {color:#0063de}
#cms_calendar_article #calendar .cldTable td {padding:5px; height:30px; vertical-align:top;}
#cms_calendar_article #calendar .cldTable td p {padding-left:3px;}
#cms_calendar_article #calendar .cldTable td .rsvName { display:inline-block; padding:3px 0 0 3px; font-weight:bold}
#cms_calendar_article #calendar .cldTable td .re_com { color:#e5a200}
#cms_calendar_article #calendar .cldTable td .re_bef { color:#0084da}
#cms_calendar_article #calendar .cldTable td .event a{color: #f15a38; font-weight: bold;text-decoration: none;}

#cms_calendar_article #calendar .cldTable td .re_ing { color:#6d9b00}
#cms_calendar_article #calendar .cldTable td.on { background:#ebebeb;}
#cms_calendar_article #calendar .cldTable td.today { background:#fbfbfb;}

.btnRegist {background:#006dba;}