@charset "utf-8";

@import url('common_layout.css');

/* 메인페이지 내용 */
#container {position:relative; z-index:1;} /* 2014-06-09 수정 */
#contentsWrap {position:relative; overflow:hidden; /*width:800px; margin:0 auto;*/ margin:0 20px;}


/* 본문내용 */
/*#content {margin:0 auto; position:relative; width:100%; min-height:500px; padding:0px 0 30px; font-size:13px;}*/
#content {margin:0px auto; display:inline-block; vertical-align:top; position:relative; padding:10px; font-size:13px;}
#content h3 {line-height:42px; height:42px; margin-left:10px; font-weight:bold; font-size:18px; color:#333; 
	padding-left:25px; background: url(../images/common/bul_circle_blue.png) no-repeat 0 13px;}

#content h4 {line-height:32px; height:32px; margin-left:10px; font-weight:bold; font-size:15px; color:#333; 
	padding-left:25px; background: url(../images/common/bul_type3.png) no-repeat 10px 13px;}

#content .btnTopFull h4 {float:left;line-height:27px; height:27px; margin:10px 0 5px 0}
#content .iconWrap {position:absolute; top:36px; right:10px; overflow:hidden;}
#content .iconWrap a {float:left; margin-left:3px;}
#content .iconWrap a:first-child {margin-left:0;}
#content .location {position:absolute; top:77px; right:10px; color:#666666}
#content .location .home {*position:relative; *top:3px;}
#content .location .arrow {margin:0 6px;}