@charset "utf-8";

@import url('default.css');
@import url('login_layout.css');

/* 로그인 */
.loginTit { text-align:center; font-size:45px; font-weight:600; line-height:45px; letter-spacing:-3.3px; padding:100px 0 40px;}

.loginWrap {width:70%;margin:0 auto;}
.loginWrap fieldset {overflow:hidden;}
.loginWrap .login {width:100%;}
.loginWrap .login li {padding:5px 0;}
.loginWrap .login li:first-child {margin-top:0;}
.loginWrap .login li label {width:70px; font-size:16px; font-weight:600; color:#333; line-height:40px; display:inline-block;}

.loginWrap .login li.fn_gubun {text-align:right;}
.loginWrap .login li.fn_gubun label {width:auto; padding-right:15px;}

.loginWrap .login li .inputTxt {width:calc(100% - 70px); height:40px; line-height:40px; border-radius:5px;}
.loginWrap .btnLogin {width:100%; height:60px; font-weight:600; color:#fff !important; line-height:60px; font-size:15px; text-align:center; text-decoration:none !important; border:1px solid #0066ae; background:#006dba; border-radius:5px;}
.loginWrap .btnLogin:hover {background:#003C67;}
.loginWrap .loginbtn {margin-top:30px;}
.loginWrap .login li .inputTxt2 {border:1px solid #e1e1e1; margin-right:2px; width:330px; height:32px; line-height:32px; }
.loginWrap .login li .inputTxt3 {border:1px solid #e1e1e1; margin-right:2px; width:90px; height:32px; line-height:32px;}

.loginWrap{}
.loginWrap h1{margin-bottom: 30px;font-size: 24px;color:#001836;font-weight: 400;}
.loginWrap h1 span{font-weight: 600;}
.loginWrap .loginBox{margin-bottom: 45px;padding: 45px 0;width: 100%;background: #1B3B86;}
.loginWrap .loginBox .loginCon{margin: 0 auto;width: 340px;}
.loginWrap .loginBox .loginCon input[type='text'],
.loginWrap .loginBox .loginCon input[type='password']{margin-bottom: 10px;width: 100%;height: 50px;font-size: 15px;border:0}
.loginWrap .loginBox .loginCon input[type='checkbox']{width: 18px;height: 18px;background: transparent;border:1px solid #fff}
.loginWrap .loginBox .loginCon label{color: #fff;}
.loginWrap .loginBox .loginCon .btn{margin-top: 60px;width: 100%;height: 50px;font-size: 18px;color: #fff;font-weight: 500;background-color: #3EB0C9;border: 0;}



/* 로그인 
.loginTit {overflow:hidden; margin:140px 0 20px 0px;}
.loginTit .tit { text-align: center; color:#005baf; font-size:45px; font-weight:bold; line-height:45px;letter-spacing:-3.3px; }
.loginTit .txt strong {color:#005baf; font-size:13px; letter-spacing:0px; vertical-align: top;  font-weight:normal;}
.loginTit .txt {margin-left:25px; font-size:13px; color:#3e3e3e; line-height:18px; width:280px;}

.loginWrap {padding:35px 0 35px; border-top:2px solid #0e6bc1; border-bottom:1px solid #e4e4e4; background:#fbfbfb;}
.loginWrap fieldset {overflow:hidden; margin-left:40px;}
.loginWrap .login {float:left; margin-top:15px; width: 350px;}
.loginWrap .login li {margin-top:5px;}
.loginWrap .login li:first-child {margin-top:0;}
.loginWrap .login li label {width:65px; padding-left:9px; font-size:14px; font-weight:bold; color:#3e3e3e; line-height:32px; }

.loginWrap .login li.fn_gubun {text-align:right;}
.loginWrap .login li.fn_gubun label {width:auto; padding-right:15px;}

.loginWrap .login li .inputTxt {width:260px; height:32px; line-height:32px;}
.loginWrap .btnLogin {float:left; margin-top:15px; margin-left:7px;}
.loginWrap .btnLogin {width:140px; height:74px; font-weight:bold; color:#ffffff !important; line-height:74px; font-size:16px; text-align:center; text-decoration:none !important; border:1px solid #0066ae; background:#006dba;}

.loginWrap .login li .inputTxt2 {border:1px solid #dbdbdb; margin-right:2px; width:330px; height:32px; line-height:32px;}
.loginWrap .login li .inputTxt3 {border:1px solid #dbdbdb; margin-right:2px; width:90px; height:32px; line-height:32px;}*/