@charset "utf-8";
/*@import url('../../common.css');*/


/* Board Search */
/* 한줄 box */
#cms_board_article .tbSearch {margin:5px 0; text-align:center; border:1px solid #E0E0E0; background:#F5F5F5; padding:0;}
#cms_board_article .tbSearch form {margin:10px;}
#cms_board_article .tbSearch dt{display:none;}
#cms_board_article .tbSearch.tbShowDt dt{display:block; font-weight: bold;}

/* 여러줄 box */
#cms_board_article .tbMSearch {margin:5px 0; border:1px solid #E0E0E0; background:#F5F5F5;}
#cms_board_article .tbMSearch dl{margin:20px 50px 10px 50px;}
#cms_board_article .tbMSearch dt{display:inline-block; font-weight: bold; width:10%; margin-top:5px; text-align:right;}
#cms_board_article .tbMSearch dd{display:inline-block; width:35%; margin:5px 10px 0 10px;}
#cms_board_article .tbMSearch dd.lw{width:42%;}
#cms_board_article .tbMSearch dd.sw{width:28%;}
#cms_board_article .tbMSearch dd.full{display:inline-block; width:83%;}
#cms_board_article .tbMSearch p {margin:0px 50px 20px 50px; text-align: center;}
#cms_board_article .tbMSearch .btnSearch {width:140px; height:30px; padding:0px; font-size:13px; font-weight:bold; color:#ffffff !important; line-height:28px; text-decoration:none !important; border:0px; background:#6e6e6e; }
#cms_board_article .tbMSearch .btnTotalList {width:140px; height:30px; padding:0px; font-size:13px; font-weight:bold; color:#ffffff !important; line-height:28px; text-decoration:none !important; border:0px; background:#006dba; }
#cms_board_article .tbMSearch .select {min-width:100px; height:27px;}
#cms_board_article .tbMSearch input[type="text"]{height:25px;padding:0 5px; border:1px solid #dbdbdb; line-height:25px;}
#cms_board_article .tbMSearch #key {width:240px; height:25px; padding:0 5px; border:1px solid #dbdbdb; line-height: 30px;}
#cms_board_article .tbMSearch #keyField {min-width:120px;height:27px; /*margin-right:5px;*/ font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', '돋움', dotum, sans-serif; color:#535353; border:1px solid #dbdbdb;}


/* 목록 */
#cms_board_article .tbListA {width:100%; border-top:2px solid #6b6b6b; border-bottom:1px solid #6b6b6b; border-collapse:collapse; border-spacing:0;  table-layout:fixed; }
#cms_board_article .tbListA thead tr th {padding:13px 0 12px; font-size:14px; font-weight:bold; color:#3e3e3e; text-align:center; vertical-align:middle; border-bottom:1px solid #6b6b6b; background:#fbfbfb;}
#cms_board_article .tbListA tbody tr td {height:22px; padding:12px 5px 11px; color:#3e3e3e; vertical-align:middle; border-top:1px solid #e4e4e4;}
#cms_board_article .tbListA tbody tr:first-child td {border-top:0;}
#cms_board_article .tbListA>tbody.alignC>tr>td {text-align:center;}
#cms_board_article .tbListA tbody tr td.name {text-align:left;}
#cms_board_article .tbListA tbody tr td.issueState a, .tbListA tbody tr td.issueState span {width:83px; padding:0;}
#cms_board_article .tbListA tbody.pd10 tr td {padding:10px 5px;}
#cms_board_article .tbListA tbody tr td.tlt {text-align:left; padding-left:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/* 상세보기 */
#cms_board_article .tbViewA {width:100%; border-top:2px solid #6b6b6b; border-bottom:1px solid #6b6b6b; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
#cms_board_article .tbViewA thead tr th {font-size:14px; padding:13px 0; font-weight:bold; color:#3e3e3e; text-align:center; vertical-align:middle; border-bottom:1px solid #e4e4e4; background:#fbfbfb;}
#cms_board_article .tbViewA tbody tr th {height:22px; padding:9px 0; font-weight:bold; color:#3e3e3e; text-align:center; vertical-align:middle; border-top:1px solid #e4e4e4; background:#fff;}
#cms_board_article .tbViewA tbody tr td {height:22px; padding:9px 0; line-height:18px; vertical-align:middle; border-top:1px solid #e4e4e4; background:#fff;}
#cms_board_article .tbViewA .cont{padding:20px; line-height:20px; }

#cms_board_article .tbViewB {width:100%; border-top:2px solid #6b6b6b; border-bottom:1px solid #6b6b6b; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
#cms_board_article .tbViewB thead tr th {font-size:14px; padding:13px 0; font-weight:bold; color:#3e3e3e; text-align:center; vertical-align:middle; border-bottom:1px solid #e4e4e4; background:#fbfbfb;}
#cms_board_article .tbViewB tbody tr th {height:22px; padding:9px 0; font-weight:bold; color:#3e3e3e; text-align:center; vertical-align:middle; border-top:1px solid #e4e4e4; background:#fff;}
#cms_board_article .tbViewB tbody tr td {height:22px; padding:9px 0; line-height:18px; vertical-align:middle; border-top:1px solid #e4e4e4; background:#fff;}
#cms_board_article .tbViewB .cont{padding:20px; line-height:20px; }

/* Q&A 질문글 목록 - 질문글 내용 */
#cms_board_article .tbListA.fn_qList > tbody > tr.fn_qCont > td {padding:0px;}
#cms_board_article .tbListA.fn_qList > tbody > tr.fn_qCont > td > table {border-top:1px solid #9b9b9b;border-bottom:1px solid #9b9b9b;}
#cms_board_article .tbListA.fn_qList > tbody > tr.fn_qCont > td > table > tbody > tr > th, .tbListA.fn_qList > tbody > tr.fn_qCont > td > table > tbody > tr > td {background: none; height:19px; padding:7px 5px;}

/* 글쓰기 */
#cms_board_article .tbWriteA {width:100%; border-top:2px solid #6b6b6b; border-bottom:1px solid #6b6b6b; border-collapse:collapse; border-spacing:0; table-layout:fixed; word-break:break-all;}
#cms_board_article .tbWriteA thead tr th {padding:10px 0px; font-weight:bold; color:#3e3e3e; text-align:center; vertical-align:middle; border-bottom:1px solid #6b6b6b; background:#fbfbfb;}
#cms_board_article .tbWriteA tbody tr th {/*height:27px;*/ padding:10px 10px 10px 0; line-height:27px; vertical-align:top; font-weight:bold; color:#3e3e3e; text-align:right; /*vertical-align:top;*/ border-top:1px solid #e4e4e4; background:#fbfbfb;}
#cms_board_article .tbWriteA tbody tr td {/*height:27px;*/ padding:10px 0; line-height:27px; vertical-align:top; border-top:1px solid #e4e4e4; background:#fbfbfb;}
#cms_board_article .tbWriteA tbody tr:first-child th, .tbWriteA tbody tr:first-child td {border-top:0;}

#cms_board_article .tbWriteA>tbody>tr>td>.tbListA>thead>tr>th{padding:5px 3px;height:20px;line-height:20px;text-align:center;}
#cms_board_article .tbWriteA>tbody>tr>td>.tbListA>tbody>tr>th, #cms_board_article .tbWriteA>tbody>tr>td>.tbListA>tbody>tr>td{padding:5px 3px;height:20px;line-height:20px;}
#cms_board_article .tbWriteA>tbody>tr>td>.tbListA>tbody.alignC>tr>td {text-align:center;}

#cms_board_article .tbWriteA>tbody>tr>td textarea {width:100% !important; min-height:200px;}

/* 이전글, 다음글 */
#cms_board_article .goArticle {width:100%;border:0;border-bottom:1px solid #6b6b6b; border-top:1px solid #6b6b6b; border-collapse:collapse;background:#fbfbfb;table-layout:fixed}
#cms_board_article .goArticle th {border-width:0 0 1px 0;text-align:right;color:#3e3e3e;font-size:13px;vertical-align:middle; font-weight:bold;}
#cms_board_article .goArticle td {padding:15px;border-width:0px 0px 1px 0;}
#cms_board_article .goArticle .goPrev {border-bottom:1px solid #e4e4e4;}

/* 조회 수 높은글 */
#cms_board_article .N_thumb{float: left;left: 0;top: 0;z-index: 2;margin: 0 16px 0 0;position: relative;}
#cms_board_article .N_thumb img{border:1px solid #e5e5e5}
#cms_board_article .N_memo{display: inline-block; width:630px}
#cms_board_article .N_memo dt{font-size: 15px;font-weight: bold;color: #3e3e3e;}
#cms_board_article .N_memo dd{line-height:18px; padding-top: 10px; color: #747474; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-wrap:break-word; overflow: hidden;}

/* 페이징 */
#cms_board_article .paginate {margin-top:30px; text-align:center;}
#cms_board_article .paginate .prev {margin-right:1px;}
#cms_board_article .paginate .next {margin-left:1px;}
#cms_board_article .paginate span {}
#cms_board_article .paginate span a {margin:0 2px; width:30px; height:30px; color:#666666; line-height:30px; text-align:center; text-decoration:none; background:url(./images/bg_paginate_off.gif) no-repeat 0 0;}
#cms_board_article .paginate span strong {margin:0 2px; width:30px; height:30px; font-weight:normal; color:#ffffff; line-height:30px; text-align:center; background:url(./images/bg_paginate_on.gif) no-repeat 0 0;}

#cms_board_article .resultCount {float:right; margin-top:20px;}
#cms_board_article .resultCount strong{vertical-align:top; color:#F15A38;}

/* 달력 */
#cms_board_article .btnCal {display:inline-block; /*margin-left:3px; */border:0px; width:20px; height:18px; background: transparent url('./images/btn_cal.gif') no-repeat; text-indent:-9999px;vertical-align:middle;}

/* rss */
#cms_board_article .rss {float:left; color:#444; font-size:0.9em; background: url('./images/btn_rss.gif') no-repeat 0 0; text-indent: -9999px; width:92px; height:21px;}

/* 타이틀 */
#cms_board_article .titTypeC {padding-left:10px; font-size:14px; font-weight:bold; color:#3e3e3e; line-height:20px; background: url(./images/bul_type3.png) no-repeat 0 8px;}

#cms_board_article  .ui-listview {margin:0em;}